.newList {
    margin-top: 20px;
}

.newListHeader {
    margin-left: 5px;
    cursor: default;
    font-weight: bold;
}

.formItem {
    display: flex;
    align-items: center;
    margin-left: 5px;
}

.submitList {
    margin-top: 5px;
    margin-left: 5px;
}

.submitList:hover {
    color: goldenrod;
    cursor: pointer;
}