.newTodo {
    display: flex;
    max-width: 700px;
    width: 70vw;
    gap: 5px;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid black;
    border-top: none;
    background-color: whitesmoke;
}

.newTodoHeader {
    cursor: default;
    margin-top: 5px;
}

.todoForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-bottom: 5px;
}

.formItem {
    gap: 1px;
}

.submitTodo {
    margin-top: 5px;
}

.submitTodo:hover {
    cursor: pointer;
    color: goldenrod;
}